.DS_Store
*.log
node_modules/
.vscode/
.idea/
*.iml
Thumbs.db

.env
*.env
!*.env.example

frontend/node_modules/
*/node_modules/
frontend/.npm/
frontend/.pnpm-store/
frontend/dist/
frontend/build/
frontend/.next/
frontend/.cache/
frontend/yarn-error.log
frontend/package-lock.json
frontend/pnpm-lock.yaml

frontend/.parcel-cache/
frontend/.eslintcache

backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

*.log
backend/logs/
frontend/logs/

docker-data/
**/docker-data/
**/postgres-data/
**/minio-data/